.navigation{
    gap: 5px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
.navigation a{
    text-decoration: none;
    color: #000000;
}
.navigation *{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.navigation a:first-child::before{
    content: '<';
    text-decoration: none;
    font-family: monospace;
    display: inline-flex;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    font-size: 33pt;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}

.navigation a:last-child::after{
    content: '>';
    align-items: center;
    text-decoration: none;
    font-family: monospace;
    display: inline-flex;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    font-size: 33pt;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}